summary {
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.3rem;
}

details {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(0,0,0,0.24);
}

details div {
    margin-top: 10px;
    color: #dddddd;
}

details a {
    color: #ffffff;
    text-decoration: underline;
}

details a:hover {
    color:var(--primary); 
}