label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#rating {
    margin-top: 10px;
}

#rating input {
    width: auto;
}
